* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}
.ui-page {
	background-color:#fff;
}
.ui-content {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}
.content_text {
	font-weight:bold;
	font-size:100%;
	color:#000;
}