<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://LunaWolfCorp/Linterna" version="0.0.3" viewmodes="maximized">
    <tizen:application id="2gUC2k4TDU.Linterna" package="2gUC2k4TDU" required_version="1.0"/>
    <author href="http://foro.toiiki.es" email="marco@lunawolf.es">BadWolf</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.gif" height="201" width="261"/>
    <name>Linterna</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
